<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<section class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://www.leagueoflegends.com/ko-kr/">
									<img src="images/lol.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">AOS</span>
								<h3 class="post-title mt-1"><a href="https://www.leagueoflegends.com/ko-kr/">리그오브레전드</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">라이엇 게임즈</span>

							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://playvalorant.com/ko-kr/">
									<img src="images/val.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">FPS</span>
								<h3 class="post-title mt-1"><a href="https://playvalorant.com/ko-kr/">발로란트</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">라이엇 게임즈</span>

							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://playvalorant.com/ko-kr/">
									<img src="images/fc.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">스포츠</span>
								<h3 class="post-title mt-1"><a href="https://playvalorant.com/ko-kr/">FC 온라인</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">EA코리아</span>

							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://lostark.game.onstove.com/Main">
									<img src="images/lost.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">MMORPG</span>
								<h3 class="post-title mt-1"><a href="https://lostark.game.onstove.com/Main">로스트아크</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">스마일게이트</span>

							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://sa.nexon.com/main/index.aspx">
									<img src="images/attack.jpg" alt="" class="img-fluid w-100">
								</a> 
								<span
									class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">FPS</span>
								<h3 class="post-title mt-1"><a href="https://sa.nexon.com/main/index.aspx">서든어택</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">넥슨</span>

							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://maplestory.nexon.com/Home/Main">
									<img src="images/maple.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">MMORPG</span>
								<h3 class="post-title mt-1"><a href="https://maplestory.nexon.com/Home/Main">메이플스토리</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">넥슨</span>

							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://overwatch.blizzard.com/ko-kr/">
									<img src="images/over.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">FPS</span>
								<h3 class="post-title mt-1"><a href="https://overwatch.blizzard.com/ko-kr/">오버워치2</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">블리자드</span>

							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://pubg.com/ko/events/unknown">
									<img src="images/bg.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">FPS</span>
								<h3 class="post-title mt-1"><a href="https://pubg.com/ko/events/unknown">배틀그라운드</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">크래프톤</span>

							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://df.nexon.com/">
									<img src="images/df.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">액션 RPG</span>
								<h3 class="post-title mt-1"><a href="https://df.nexon.com/">던전앤파이터</a>
								</h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">네오플</span>

							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://tl.plaync.com/ko-kr/index">
									<img src="images/tl.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">MMORPG</span>
								<h3 class="post-title mt-1"><a href="https://tl.plaync.com/ko-kr/index">쓰론앤리버티</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">엔씨소프트</span>

							</article>
						</div>

						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://starcraft.blizzard.com/ko-kr/">
									<img src="images/star.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">RTS</span>
								<h3 class="post-title mt-1"><a href="https://starcraft.blizzard.com/ko-kr/">스타크래프트</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">블리자드</span>

							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="https://aion.plaync.com/">
									<img src="images/aion.jpg" alt="" class="img-fluid w-100">
								</a>
								<span
									class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">MMORPG</span>
								<h3 class="post-title mt-1"><a href="https://aion.plaync.com/">아이온</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">엔씨소프트</span>

							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

<div layout:fragment="script" type='text/javascript'>
	<!-- THEME JAVASCRIPT FILES
================================================== -->
	<!-- initialize jQuery Library -->
	<script src="/plugins/jquery/jquery.js"></script>
	<!-- Bootstrap jQuery -->
	<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="/plugins/bootstrap/js/popper.min.js"></script>
	<!-- Owl caeousel -->
	<script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script src="/plugins/slick-carousel/slick.min.js"></script>
	<script src="/plugins/magnific-popup/magnific-popup.js"></script>
	<!-- Instagram Feed Js -->
	<script src="/plugins/instafeed-js/instafeed.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
	<script src="/plugins/google-map/gmap.js"></script>
	<!-- main js -->
	<script src="/js/custom.js"></script>
</div>

</html>